body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #004ad3;
  color: #fff;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}



/* Intro */
.intro {
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(20,13,121,1) 0%, rgba(8,63,125,1) 43%, rgba(0,212,255,1) 100%);
}

.intro_content {
  margin: 5% 12%;
  display: flex;
  font-size: 16px;

  h1, h2 {
    margin: 0 0 40px 0;
  }
}

.intro_img {
  width: 230px;
  height: 230px;

  margin: 0 60%;

  box-shadow: 0 0 10px #000;
  border-radius: 30px;
  border: 3px solid #3a3a3a;
}

.intro_message1 {
  width: 600px;
  height: 150px;

  padding: 20px;

  box-shadow: 0 0 10px #000;
  border-radius: 20px;
  border: 3px solid #000;
  background-color: rgb(0, 78, 131);
}

.intro_message2 {
  position: absolute;

  width: 600px;
  height: 150px;

  margin: 300px -50px;
  padding: 20px;

  box-shadow: 0 0 10px #000;
  border-radius: 20px;
  border: 3px solid #000;
  background-color: rgb(0, 78, 131);
}

.intro_message3 {
  position: absolute;

  width: 600px;
  height: 150px;

  margin: 600px 50px;
  padding: 20px;

  box-shadow: 0 0 10px #000;
  border-radius: 20px;
  border: 3px solid #000;
  background-color: rgb(0, 78, 131);
}

.intro_appdate {
  font-size: 30px;

  text-decoration: none;
  color: #fff;

  transition: all 0.2s;
}

.intro_appdate:hover {
  color: #6e6e6e;
}



@media (max-width: 1350px) {
  .intro_content {
    font-size: 14px;
  }

  .intro_message1 {
    width: 500px;
    height: 130px;

    padding: 15px;
  }

  .intro_message2 {
    width: 500px;
    height: 130px;

    margin: 250px -45px;
    padding: 15px;
  }

  .intro_message3 {
    width: 500px;
    height: 130px;

    margin: 500px 45px;
    padding: 15px;
  }

  .intro_img {
    width: 200px;
    height: 200px;

    margin: 0 55%;
  }

  .intro_appdate {
    font-size: 25px;
  }
}

@media (max-width: 1200px) {
  .intro_content {
    font-size: 12px;
  }

  .intro_message1 {
    width: 400px;
    height: 130px;

    padding: 15px;
  }

  .intro_message2 {
    width: 400px;
    height: 130px;

    margin: 225px -40px;
    padding: 15px;
  }

  .intro_message3 {
    width: 400px;
    height: 130px;

    margin: 450px 40px;
    padding: 15px;
  }

  .intro_img {
    width: 180px;
    height: 180px;

    margin: 0 40%;
  }

  .intro_appdate {
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  .intro {
  background: linear-gradient(0deg, rgba(20,13,121,1) 0%, rgba(8,63,125,1) 53%, rgba(0,212,255,1) 100%);
  }

  .intro_content {
    font-size: 12px;

      h1, h2 {
    margin: 0 0 25px 0;
    }
  }

  .intro_message1 {
    width: 370px;
    height: 100px;

    padding: 15px;
  }

  .intro_message2 {
    width: 370px;
    height: 100px;

    margin: 200px -30px;
    padding: 15px;
  }

  .intro_message3 {
    width: 370px;
    height: 100px;

    margin: 400px 30px;
    padding: 15px;
  }

  .intro_img {
    width: 145px;
    height: 145px;

    margin: 0 40%;
  }

  .intro_appdate {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .intro_content {
    font-size: 11px;
    margin: 20px 30px;
  }

  .intro_message1 {
    width: 300px;
    height: 80px;

    padding: 20px;
  }

  .intro_message2 {
    width: 300px;
    height: 80px;

    padding: 20px;
    margin: 200px -20px;
  }

  .intro_message3 {
    width: 300px;
    height: 80px;

    padding: 25px;
    margin: 400px 20px;
  }

  .intro_img {

    width: 100px;
    height: 100px;

    margin: 0 40px;
  }

  .intro_appdate {
    font-size: 18px;
  }
}

@media (max-width: 580px) {
  .intro_content {
    font-size: 10px;
    margin: 15px 18px;

    h1, h2 {
    margin: 0 0 15px 0;
    }
  }

  .intro_message1 {
    width: 300px;
    height: 80px;

    padding: 5px;
  }

  .intro_message2 {
    width: 300px;
    height: 80px;

    padding: 5px;
    margin: 150px -15px;
  }

  .intro_message3 {
    width: 300px;
    height: 80px;

    padding: 5px;
    margin: 300px 15px;
  }

  .intro_img {

    width: 90px;
    height: 90px;

    margin: 0 20px;
  }

  .intro_appdate {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .intro_content {
    font-size: 8px;
    margin: 15px 18px;

    h1, h2 {
    margin: 0 0 10px 0;
    }
  }

  .intro_message1 {
    width: 200px;
    height: 70px;

    padding: 5px;
  }

  .intro_message2 {
    width: 200px;
    height: 70px;

    padding: 5px;
    margin: 110px -15px;
  }

  .intro_message3 {
    width: 200px;
    height: 70px;

    padding: 5px;
    margin: 220px 15px;
  }

  .intro_img {

    width: 80px;
    height: 80px;

    margin: 0 20px;
  }

  .intro_appdate {
    font-size: 15px;
  }
}


/* What do you have to do to be like a criminal? */
.criminal_title {
  display: flex;
  justify-content: center;

  margin: 90px 0px;
}

.criminals {
  display: flex;

  margin: 150px 0;
}

.criminals_bluelet {
  display: flex;

  margin: 0 auto;

  background-color: #4f00ce;
}

/* Criminals */
.criminals_1 {
  position: relative;

  width: 200px;
  height: 200px;

  transition: all 0.3s ease;

  background: linear-gradient(90deg, rgba(20,13,121,1) 0%, rgba(8,63,125,1) 43%, rgba(0,212,255,1) 100%);
}

.criminals_1 img {
  object-fit: cover;
  transition: all 0.3s ease;
}

.criminals_1_text {
  position: absolute;
  text-align: center;

  top: 50%;
  left: 50%;

  user-select: none;
  
  font-size: 24px;
  opacity: 0;

  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}



.criminals_2 {
  position: relative;

  width: 200px;
  height: 200px;

  transition: all 0.3s ease;

  background: linear-gradient(90deg, rgba(20,13,121,1) 0%, rgba(8,63,125,1) 43%, rgba(0,212,255,1) 100%);
}

.criminals_2_text {
  position: absolute;
  text-align: center;

  top: 50%;
  left: 50%;

  user-select: none;
  
  font-size: 24px;
  opacity: 0;

  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}



.criminals_2 img {
  transition: all 0.3s ease;
}



.criminals_3 {
  position: relative;

  width: 200px;
  height: 200px;

  transition: all 0.3s ease;

  background: linear-gradient(90deg, rgba(20,13,121,1) 0%, rgba(8,63,125,1) 43%, rgba(0,212,255,1) 100%);
}

.criminals_3 img {
  transition: all 0.3s ease;
}

.criminals_3_text {
  position: absolute;
  text-align: center;

  top: 50%;
  left: 50%;

  user-select: none;
  
  font-size: 24px;
  opacity: 0;

  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}



/* Criminals animation */
.criminals_1:hover {
  transform: translate(10px, -10px);
}

.criminals_1:hover img {
  opacity: 0.5;
}

.criminals_1:hover h3{
  opacity: 1; 
}



.criminals_2:hover {
  transform: translate(10px, -10px);
}

.criminals_2:hover img{
  opacity: 0.5;
}

.criminals_2:hover h3{
  opacity: 1; 
}



.criminals_3:hover {
  transform: translate(10px, -10px);
}

.criminals_3:hover img{
  opacity: 0.5;
}

.criminals_3:hover h3{
  opacity: 1; 
}